.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, white 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 50px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: white;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide-track
{
    animation: scroll 30s linear infinite;
    display: flex;
}

.slide {
    height: 250px;
    width: 300px;
}
